*{
    box-sizing: border-box;
    
}
:root{

    --fc-light : rgb(233, 232, 232);
    --fc-dark : #111;
    --fc-french-violet: #7b2cbfff;
    --fc-dark-orchid: #9d4eddff;
    --fc-heliotrope: #c77dffff;
    --fc-mauve: #e0aaffff;

    /* --fc-style : #9e72c2; */
    --fc-grad:linear-gradient(#E0AAFF,#7B2CBF);
    --fc-style: linear-gradient(to right,#E0AAFF,#7B2CBF);


    --fs-reg: 1rem;
    --fs-h1: 2.25rem;
    --fs-h2: 2rem;
    --fs-h3: 1.5rem;
    

    

}
@media(min-width:600px){
    :root{
        --fs-reg: 1.225rem;
        --fs-h1: 2.5rem;
        --fs-h2: 2.25rem;
        --fs-h3: 1.75rem;
    }
}
@media(min-width:900px){
    :root{
        --fs-reg: 1.25rem;
        --fs-h1: 3.5rem;
        --fs-h2: 2.75rem;
        --fs-h3: 2.225rem;
    }
}

body{
    background-color: var(--fc-light);
    color: var(--fc-dark);
    margin:0;
    font-size: var(--fs-reg);
    line-height: 1.4;
    /* font-family: 'Montserrat', sans-serif; */
    font-family: 'Chilanka', cursive;

}

img{
    display: block;
    max-width: 400px;
    width:100%;
}

h1,h2,h3{
    line-height: 1;
    margin: 0;
    display: inline-block;
    /* font-family: 'Lora', serif; */
    font-family: 'Chewy', cursive;
    letter-spacing: 2px;

}
h1{font-size: var(--fs-h1);}
h2{font-size: var(--fs-h2);}
h3{font-size: var(--fs-h3);}

strong{
    font-size: calc(100% * 1.05);
}
/*  baSic__////____body____\\\\\\\_________*/


.links li{
    list-style: none;
    color: var(--fc-light);
}
.logo_img{
    margin: 0em 2em;
    height: 50px;
    width:70px;   
}
.links-cover{
    position: fixed;
    background: var(--fc-dark);
    color: var(--fc-dark);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;  
    z-index: 10;
    
    justify-content: space-evenly;
    transform: translateY(-100%);
    transition: transform 250ms ease-in-out;
}
.links{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
    font-size: var(--fs-h1);
    margin: 0;
    padding: 0;
    
}
.links a{
    color: var(--fc-light);
    z-index: 10;
    text-decoration: none;
}
.links a:hover{
    color: var(--fc-style);
}

.nav_toggle{
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 20;
    padding: 1.5em .5em;
    background: transparent;
    border: 0;
    cursor: pointer;
    display: flex;
}
.hamburger{
    display: block;
    position: relative;
}
.hamburger,
.hamburger::before,
.hamburger::after{
   
    width:3em;
    height:5px;
    background: var(--fc-style);
    border-radius: 5px;
    transition: all .2s ease-in-out;
}
.hamburger::before,
.hamburger::after{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
}
.hamburger::before{
   top:-10px;}
.hamburger::after{
    bottom:-10px;
}
.nav-open .links-cover{
    transform: translateY(0);  
}
.nav-open .nav_toggle{
    position: fixed;
}
.nav-open .hamburger{
    /* transform: translateX(-50px); */
    background: transparent;
}
.nav-open .hamburger::before{
    transform: rotate(45deg) translateY(8px) translateX(7px);
}
.nav-open .hamburger::after{
    transform: rotate(-45deg) translateY(-8px) translateX(7px);
}



.intro{
    padding: 0 1em;
    margin: 0 auto;
    margin-top: 1em;
}
.intro__image{
    box-shadow: -5px 5px 20px var(--fc-dark);
    align-self: center;  
    margin: 0 auto; 
}
.section__subheading--intro{
    background: var(--fc-style);
    text-align: center;
    padding: 5px 0 ;
    font-size: var(--fs-reg);
    width: 100%;;
    margin-bottom: 1em;
    color: var(--fc-light);
    /* max-width: 400px; */
   
}
.section__head{
    text-align: center;
    font-size: var(--fs-reg);
    width: 100%;
    
}
.section__head--name{
    text-align: center;
   font-size: var(--fs-h1);
    width: 100%;
    
}
.section__head--intro strong{
    display: block;
}

.about-me{
    padding: 0 1em;
    max-width: 900px;
    margin:2em auto;
    text-align: center;
}
.text{
    max-width: 450px;
    margin: 0 auto;
}
.about-me_img{
    margin: 0 auto;
    box-shadow: 5px 5px 20px var(--fc-dark);
}
.section-subtitle{
    background: var(--fc-grad);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .2em;
    word-spacing: .5em;
    color: var(--fc-light);
}
.section-title{
    margin-top: 1em;
    margin-bottom: .5em;
    padding-top: .5em;
}
.my-work{
    position: relative;
    background-color: var(--fc-dark);
    
    /* background-blend-mode: difference; */
    /* background-blend-mode: multiply; */
    padding:0 1em;
    text-align: center;
    color: var(--fc-light);
    /* max-width: 900px; */
    margin: 2em auto;
   
}
.my-work::before{
    content: '';
    background-color: var(--fc-dark);
    background-image: url(my-work.jpg) ;
    background-size: cover;
    position:absolute;
    left: 0;
    right: 0;
    top:0;
    bottom: 0;
    opacity: .6;


}
.all_work{
    position: relative;
    max-width: 900px;
    margin: 0 auto;
    padding-bottom: 2em;
}
.section-title{
    position: relative;
    padding-top: 1em;
}
.section-sub{
    background: var(--fc-grad) !important;
    text-transform: uppercase;
    max-width: 1000px;
    margin: 2em auto;
    position: relative;
    letter-spacing: .2em;
    word-spacing: .5em;
}

.section{
    max-width: 450px;
    margin:2em auto;
    
}

.btn{
    display: inline-block;
    transition: .2s;
    color: var(--fc-style);
    border: 3px var(--fc-french-violet) solid;
    padding:.5em 1em;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer; 
    background-color: var(--fc-dark);
    border-radius: 50px;
    text-align: center;
    
    

}
.btn:hover{
    background-color: var(--fc-dark-orchid);
    color:var(--fc-dark);
    transition-delay: 0.1s;
    border: 3px var(--fc-dark) solid;
    box-shadow: 0 0 10px var(--fc-dark-orchid), 
                0 0 20px var(--fc-dark-orchid),
                0 0 30px var(--fc-dark-orchid),
                0 0 40px var(--fc-dark-orchid),
                0 0 80px var(--fc-dark-orchid)
               ;
}

.footer{
    
    background: var(--fc-dark);
   
    color: var(--fc-light);
    text-align: center;
    margin: 0;
    padding: 0.005em 0;
}
.social-links{
    list-style: none;
    display: flex ;
    margin: 0;
    background: var(--fc-style);
    justify-content: center;
    padding: 0;
}
.fab, .far{
    color:var(--fc-light);
    padding: 0;
}


.madebyheart{
    color: red; 
    
}
.li{
    padding: 0 .5em;
    font-size: var(--fs-h3);
}
.li:hover{
    opacity: .5;
    transform: scale(1.2);
}


/*-----------------\\\\\\\\\\\\\\--------------------------------------*/
@media(min-width:600px){
    .intro{
        display: grid;
        width: min-content;
        grid-column-gap: 1em;
        margin: 1em auto;
        grid-template-areas: 
        "img heading"                    
        "img subheading" ;
        grid-template-columns: min-content max-content;
        margin-top: 2em;
    }
    .intro__image{
        grid-area: img;
        min-width: 250px;
        position: relative;
        z-index: 2;
    }
    
    .section__subheading{
        grid-area: subheading;
    }
    .section__subheading--intro{
        /* background: var(--fc-style); */
        grid-column: -1/1;
        text-align: right;
        padding: 10px 20px ;
        font-size: var(--fs-reg);
        align-self: start;
        max-width: 200%;
        position : relative;
        left: -1.5em;
        width: calc(100% + 1.5em);
        margin-top: 0;
        
    }
    .section__head{
        margin-top: 0;
        text-align: left;
    }
    .section__head--intro strong{
        
        display: block;
       
    }
    
    
}
@media(min-width:600px){
    .about-me{
        margin:0 initial;
        display: grid;
        grid-template-columns: 1fr 20%x;
        grid-template-areas: 
        "head img"
        "subhead img"
        "text img"
        "text img"
        "text img";
        grid-column-gap:2em;
        padding:0 2em;
        text-align: left;
        /* grid-column: min-content max-content; */
    
    }
    .about-me_img{
        grid-row: 1/-1;
        grid-column: 2;
        position: relative;
        z-index: 2;
        margin-top: 2em;
    }
    .section-title{
        margin: 0;
        grid-row: 1;
        grid-column: 1;
    }
    .section-subtitle{
        background: var(--fc-grad);
        grid-row: 2;
        grid-column: 1/-1;
        position: relative;
        left:-1.5em;
        width:calc(100% + 3em);
        height:fit-content;
        padding-left: 1.5em;
        text-align: left;
        padding-right: calc(30% + 6em);
        padding:2em auto;
    
    }
    .text{
        grid-area: text;
    }
}
@media(min-width:600px){
    .all_work{
        display: flex;
        padding-bottom: 2em;
    }
    .section-title{
        margin-top: 1em;
    }
    .section-sub{
        background: var(--fc-style);
    }
    .section + .section{
        margin-left: 1em;
        border-left: 2px var(--fc-style) solid;
    }
    .section{
        padding: 1em;
    }
    .section-web{
        border-left: 2px var(--fc-style) solid;
        padding-right: 0;
    }
    .other{
        border-right: 2px var(--fc-style) solid;
    }
    .section-game{
        padding-right: 0;
    }
    
  
}
@media(min-width:900px){
    .intro{
        margin-top: 5em;
        padding :1em 0;
    }
    .header{
        background: var(--fc-dark);
        height: 3em;
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 5;
        
        /* position: fixed; */
        /* margin-bottom: 2em; */
    }
     /* .sec{
            width:90%;
            margin: 0 auto;
            z-index: 6;
           
    } */
    .links-cover{
        padding: 0 2em;
        background: turquoise;
        height: 0em;
        justify-content: center;
        line-height:3em;
        margin: 0;
        
        
    }
    .links{
        
        /* padding-right: 2em; */
        padding:0;
        margin: 0;
        display: inline-block;
        float: right;
    }
    .links a{
        text-decoration: none;
        display: block;
        color:var(--fc-light);
        font-size: calc(var(--fs-h3) * .7);
        /* line-height: 3em; */
        overflow: hidden;
        padding: 0 .5em;

    }
    .links li{
        display: inline-block;
            
    }
 
    .links a:hover, .nav-open{
        background:var(--fc-style);
        color: var(--fc-light);
       
    }
    .nav_toggle{
        display: none;
    }
    .logo_img{
        margin: .1em 0;
        padding: .1em 1em;
        
        height: 50px;
        width:100px; 
    }
       
    
}