*{
    box-sizing: border-box;
    
}
:root{

    --fc-light : rgb(233, 232, 232);
    --fc-dark : #111;
    --fc-style : #9e72c2;

    --fs-reg: 1rem;
    --fs-h1: 2.25rem;
    --fs-h2: 2rem;
    --fs-h3: 1.5rem;

}
@media(min-width:600px){
    :root{
        --fs-reg: 1.225rem;
        --fs-h1: 2.5rem;
        --fs-h2: 2.25rem;
        --fs-h3: 1.75rem;
    }
}
@media(min-width:900px){
    :root{
        --fs-reg: 1.25rem;
        --fs-h1: 3.5rem;
        --fs-h2: 2.75rem;
        --fs-h3: 2.225rem;
    }
}

body{
    background-color: var(--fc-light);
    color: var(--fc-dark);
    margin:0;
    font-size: var(--fs-reg);
    line-height: 1.4;
}

img{
    display: block;
    max-width: 400px;
    width:100%;
}

h1,h2,h3{
    line-height: 1;
    margin: 0;
}
h1{font-size: var(--fs-h1);}
h2{font-size: var(--fs-h2);}
h3{font-size: var(--fs-h3);}

strong{
    font-size: calc(100% * 1.15);
}

.intro{
    padding: 2em 1em;
    margin: 0 auto;
}
.intro__image{
    box-shadow: -5px 5px 20px var(--fc-dark);
    align-self: center;  
    margin: 0 auto; 
}
.section__subheading--intro{
    background: var(--fc-style);
    text-align: center;
    padding: 5px 0 ;
    font-size: var(--fs-reg);
    width: 100%;;
    margin-bottom: 1em;
    /* max-width: 400px; */
   
}
.section__head{
    text-align: center;
    /* max-width: 400px; */
    width: 100%;
    
}
.section__head--intro strong{
    display: block;
}

.about-me{
    padding: 0 1em;
    max-width: 900px;
    margin:2em auto;
    text-align: center;
}
.text{
    max-width: 450px;
    margin: 0 auto;
}
.about-me_img{
    margin: 0 auto;
    box-shadow: 5px 5px 20px var(--fc-dark);
}
.section-subtitle{
    background-color: var(--fc-style);
    text-align: center;
    text-transform: uppercase;
}
.section-title{
    margin-top: 1em;
    margin-bottom: .5em;
    padding-top: .5em;
}
.my-work{
    position: relative;
    background-color: var(--fc-dark);
    
    /* background-blend-mode: difference; */
    /* background-blend-mode: multiply; */
    padding:0 1em;
    text-align: center;
    color: var(--fc-light);
    /* max-width: 900px; */
    margin: 2em auto;
   
}
.my-work::before{
    content: '';
    background-color: var(--fc-dark);
    background-image: url(my-work.jpg) ;
    background-size: cover;
    position:absolute;
    left: 0;
    right: 0;
    top:0;
    bottom: 0;
    opacity: .6;


}
.all_work{
    position: relative;
    max-width: 900px;
    margin: 0 auto;
    padding-bottom: 2em;
}
.section-title{
    position: relative;
    padding-top: 1em;
}
.section-sub{
    background: var(--fc-style);
    text-transform: uppercase;
    max-width: 1000px;
    margin: 2em auto;
    position: relative;
}

.section{
    max-width: 450px;
    margin:2em auto;
    
}

.btn{
    display: inline-block;
    transition: .2s;
    color: var(--fc-style);
    border: 3px var(--fc-style) solid;
    padding:.5em 1em;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer; 
    background-color: var(--fc-dark);
    
    

}
.btn:hover{
    background-color: var(--fc-style);
    color:var(--fc-dark);
    transition-delay:.1s;
    border: 3px var(--fc-dark) solid;
    box-shadow: 0 0 10px var(--fc-style), 
                0 0 20px var(--fc-style),
                0 0 30px var(--fc-style),
                0 0 40px var(--fc-style),
                0 0 80px var(--fc-style)
               ;
}



@media(min-width:600px){
    .intro{
        display: grid;
        width: min-content;
        grid-column-gap: 1em;
        margin: 0 auto;
        grid-template-areas: 
        "img heading"                    
        "img subheading" ;
        grid-template-columns: min-content max-content;
    }
    .intro__image{
        grid-area: img;
        min-width: 250px;
        position: relative;
        z-index: 2;
    }
    
    .section__subheading{
        grid-area: subheading;
    }
    .section__subheading--intro{
        background: var(--fc-style);
        grid-column: -1/1;
        text-align: right;
        padding: 10px 20px ;
        font-size: var(--fs-reg);
        align-self: start;
        max-width: 200%;
        position : relative;
        left: -1.5em;
        width: calc(100% + 1.5em);
        margin-top: 0;
        
    }
    .section__head{
        margin-top: 0;
        text-align: left;
    }
    .section__head--intro strong{
        
        display: block;
       
    }
    
    
}
@media(min-width:600px){
    .about-me{
        margin:0 initial;
        display: grid;
        grid-template-columns: 1fr 20%x;
        grid-template-areas: 
        "head img"
        "subhead img"
        "text img"
        "text img"
        "text img";
        grid-column-gap:2em;
        padding:0 2em;
        text-align: left;
        /* grid-column: min-content max-content; */
    
    }
    .about-me_img{
        grid-row: 1/-1;
        grid-column: 2;
        position: relative;
        z-index: 2;
        margin-top: 2em;
    }
    .section-title{
        margin: 0;
        grid-row: 1;
        grid-column: 1;
    }
    .section-subtitle{
        background-color: var(--fc-style);
        grid-row: 2;
        grid-column: 1/-1;
        position: relative;
        left:-1.5em;
        width:calc(100% + 3em);
        height:fit-content;
        padding-left: 1.5em;
        text-align: left;
        padding-right: calc(20% + 6em);
        padding:2em auto;
    
    }
    .text{
        grid-area: text;
    }
}
@media(min-width:600px){
    .all_work{
        display: flex;
        padding-bottom: 2em;;
    }
    .section-title{
        margin-top: 1em;
    }
    .section-sub{
        background: var(--fc-style);
    }
    .section + .section{
        margin-left: 1em;
        border-left: 2px var(--fc-style) solid;
    }
    .section{
        padding: 1em;
    }
    .section-web{
        border-left: 2px var(--fc-style) solid;
        padding-right: 0;
    }
    .kuch-kuch{
        border-right: 2px var(--fc-style) solid;
    }
    .section-game{
        padding-right: 0;
    }
    
  
}